* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    background-color: #f0f0f0;
}
h1 {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    color: white;
}
.logo {
    font-family: "Great Vibes", cursive;
    font-size: 25px;
    color: rgb(173, 164, 121);
}
.wrapper {
  min-height: 100%;
}
.header {
  background-color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  height: auto;
  padding: 30px 40px;
  box-sizing: border-box;
}
