* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    background-color: #f0f0f0;
}
h1 {
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    color: white;
}
.logo {
    font-family: "Great Vibes", cursive;
    font-size: 25px;
    color: rgb(173, 164, 121);
}
.wrapper {
  min-height: 100%;
}
.header {
  background-color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  height: auto;
  padding: 30px 40px;
  box-sizing: border-box;
}
.container {
    padding: 150px 20px 0;
    display: flex;    
    max-width: 1200px;
    align-items: center;    
    flex-direction: column;
    background-color: rgb(233, 232, 222);
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding: 20px 100px;
    max-width: 1200px;
    width: 100%;
}
footer {
    display: flex;
    background-color: #444444;    
    text-align: center;
    padding: 30px 50px;    
    justify-content: space-between;
}
.contakt {
    display: flex;
    align-items: center;
    color: rgb(173, 164, 121);
}
.contact-info {
    padding-left: 10px;
    font-size: 16px;
}
.content {
    display: flex;
    flex-direction: column;    
}
.dog {
    width: 300px;
    height: auto;
}
.letter {
    display: block;
    font-size: 18px;
    padding: 10px 0;
}
.info {
    display: block;
    padding: 0 28px 30px;
    max-width: 355px;
}
.info h2 {
    font-size: 22px;
    color: #444444;
    margin-bottom: 10px;
}
.puppies {
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    color: rgb(173, 164, 121); 
}
.image {
    display: flex;    
    align-items: center;
}
.foto {
    border-radius: 50%;
    height: 40px;
    padding: 10px;
    display: block;
}
